{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi {{ user.get_username }},

Seems like you have lost your password. Not a problem, follow the instructions on the website to get a new one.{% endblocktrans %}

{% block reset_link %}

Here's your reset token: {{ token }}. 

You'll need this token and will be asked to enter it on the next screen.

{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Please disregard if you did not request this." %}

{% trans "Thanks," %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
